<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello,</h1>
<p>
  You have a new comment for event <%= @event.title %>:
</p>
<div>
  <p>
    <%= @comment.body %>
  </p>
</div>
<p>
  To reply, just follow this link: <%= @url %>.
</p>
</body>
</html>
